.body_style {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: red;
	margin: 0px;
	padding: 0px;
	font-size: 3vmin;
}

header, footer {
	height: 15%;
	background-color: rgb(198, 217, 241);
/*	overflow: auto;*/
}
main {
	height: 70%;
	background-color: green;
	display: flex;
}
header>p{
	font-size: 2.25vmin;
}

.left-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 32px;
}
.left-center > h3{
	background-color: white;
	min-width: 150px;
	padding: 5px;
	margin-right: 16px;
}


.section235 {
	width: 75%;
	background-color: yellow;
}
.section23 {
	width: 100%;
	height: 80%;
	display: flex;
}
.section2 {
	width: 40%;
	height: 100%;
	background-color: rgb(253, 233, 217);
}
.section3 {
	width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}

.section5 {
	width: 100%;
	height: 20%;
	background-color: rgb(234, 241, 221);
	display: flex;
	align-items: center;
	padding: 1px 1px 1px 32px;
}

.section4 {
	padding-left: 10px;
	width: 25%;
    background-color: rgb(253, 233, 217);
}
.item-right {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 32px;
}


#x {
	text-align: right;
}

.border {
	outline: 1px solid black;
}
.links-list>li>a:hover {
        color: red;
}